* {
	font-family: cursive;
}

body {
	background-color: rgb(37, 36, 36);
}

header,
footer {
	line-height: 100px;
	color: white;
	background-color: grey;
	text-align: center;
}

main {
	margin-top: 50px;
	color: white;
	text-align: center;
	align-items: center;
}

section {
	margin-top: 50px;
	text-align: center;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	margin: auto;
	width: 100%;
	justify-content: center;
}

footer {
	margin-top: 100px;
	font-size: 20px;
	line-height: 50px;
	position: absolute;
	bottom: 0;
	width: 99%;
	height: 2.5rem;
}

.star {
	cursor: pointer;
	font-size: 24px;
	color: gray;
}

.star.filled {
	color: gold;
}

label:hover {

  background-color: #772014;
  transition: 0.2s;
}

h2:hover {
  background-color: #772014;
  transition: 0.2s;

}

@media screen and (max-width: 992px) {
	header {
		background: #772014;
	}
}


/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
	#av {
		background-color: #bb8588;
	}
}

/* Small smartphones - image placeholders change color*/
@media screen and (max-width: 576px) {
	footer {
		background-color: #96b0e7;
	}
	header {
		background-color: blue;
	}
}
